<a href="https://colab.research.google.com/github/dhia33rpl/Phyton_Praktikum/blob/main/Praktikum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str_numbers = "456"
str_numbers_to_int = int(str_numbers)
print("Before casting :", str_numbers, ", the data type is",
type(str_numbers))
print("After casting :", str_numbers_to_int, ", the data type is",
type(str_numbers_to_int))

Before casting : 456 , the data type is <class 'str'>
After casting : 456 , the data type is <class 'int'>

In [ ]:
integer = 12345
integer_to_str = str(integer)
print("Before casting :", integer, ", the data type is", type(integer))
print("After casting :", integer_to_str, ", the data type is",
type(integer_to_str))

Before casting : 12345 , the data type is <class 'int'>
After casting : 12345 , the data type is <class 'str'>

In [ ]:
num_int = 1
num_bool = bool(num_int)
print(num_bool, type(num_bool))
num_int = 0
num_bool = bool(num_int)
print(num_bool, type(num_bool))

True <class 'bool'>
False <class 'bool'>

In [ ]:
# Equal to
8 == 8
# Not equal to
8 != 9
# Greater than
8 > 9
# Less than
8 < 9
# Less than
8 <= 9
# Less than
9 >= 9

True

In [ ]:
a = True
b = True
print(a and b)
print(a or b)
print(not b)
#logic
5 > 6 and 6 < 7

True
True
False

False

In [ ]:
e = 8
f = 2
# Summation
sum = e + f
print(f"The sum of e with f is : {sum}\n")
# Reduction
red = e - f
print(f"The reduction of e with f is : {red}\n")
# Multiplication
multi = e * f
print(f"The multipication of e with f is : {multi}\n")
# Division
divi = e / f
print(f"The quotient of e with f is : {divi}\n")
# Modulo
mod = e % f
print(f"The remainder of e with f is : {mod}\n")
# Power
pow = e ** f
print(f"The power of e of f is : {pow}\n")

The sum of e with f is : 10

The reduction of e with f is : 6

The multipication of e with f is : 16

The quotient of e with f is : 4.0

The remainder of e with f is : 0

The power of e of f is : 64

In [ ]:
name = str(input("What is your name : "))
age = int(input("What's your age : "))
print("Name: ", name)
print("Age: ", age)

What is your name : sigmasix
What's your age : 16
Name:  sigmasix
Age:  16

In [ ]:
# normal print
print('Hi all! I am', name, 'age', age, 'years old')
# format print
print(f'Hi all! I am {name} age {age} years old')
# format print
print(f'Hi all! I am %s age %d years old'%(name, age))
# fortmat output
print(30*"=")
print("Temperature Calculator Program")
print(30*"=")

Hi all! I am sigmasix age 16 years old
Hi all! I am sigmasix age 16 years old
Hi all! I am sigmasix age 16 years old
==============================
Temperature Calculator Program
==============================